<ion-view class="dishes dish-detail">
	<ion-nav-title>{{ dish.title }} {{ dish.lang }}</ion-nav-title>
  <ion-content has-bouncing="false">
		<ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeSlide" show-pager="false">
  		<ion-slide class="dish-image" ng-repeat="image in dish.images" ng-init="updateSlider()">
				<div class="item item-image">
					<img class="dish" ng-src="{{image.src}}">
				</div>
			</ion-slide>
		</ion-slide-box>
		<div class="item item-body no-padding-vertical fade-in-repeat">
			<save-dish></save-dish>
			<div class="row">
					<div class="col">
							<p class="no-margin margin-bottom">{{ dish.shortDescription }}</p>
							<ul class="margin-bottom">
								<li ng-repeat="tip in dish.tips">
									<i class="icon {{tip.class}}" ng-show="tip.class"> <span>&nbsp;Avoid {{ tip.name }}</span></i>
								</li>
							</ul>
					</div>
			</div>
			<div class="keywords margin-bottom padding-horizontal">
				<keywords-list></keywords-list>
			</div>
		</div>
		<div class="over-image-info padding">
			<p>
				<i class="icon ion-ios-heart"></i> {{ count + dish.loves }} Loved This
			</p>
		</div>
		<div ng-controller="ShareDish" class="over-image-info-share">
			<button class="button-icon" ng-click="showActionsheet()">
				<i class="icon ion-ios-upload-outline"></i>				
			</button>
		</div>
		<div class="list">
			<div class="item item-divider">
				How to Order
			</div>
			<form name="createOrder" ng-controller="OrderController as orderCtrl" ng-submit="orderCtrl.addMyOrder(dish)">
				<div class="item order-dish no-padding-top">
				<fieldset class="form-group no-padding">
					<label class="item-order-dish">
						<div class="input-label">
							{{ dish.title }} {{ orderCtrl.myOrder.protein }} {{ orderCtrl.myOrder.spice }}
						</div>
							<select ng-model="orderCtrl.myOrder.protein" class="ion-input-select" ng-show="dish.proteins">
								<option value="">protein</option>
								<option ng-repeat="protein in dish.proteins" value="{{ protein.pronounce }}">{{ protein.name }}</option>
							</select>
						</label>
						<label class="item-order-dish" ng-show="dish.spice">
								<select ng-model="orderCtrl.myOrder.spice" class="ion-input-select">
									<option value="">spicy?</option>
									<option ng-repeat="spicy in dish.spice" value="{{ spicy.pronounce }}">{{ spicy.level }}</option>
								</select>
						</label>
						<label class="item-order-dish">
								<!--<button type="submit" class="button button-light" ng-click="openModal()">
									Translate <i class="ion-ios-arrow-right padding-left"></i> 
								</button>-->
								<button ng-controller="OrderCards" type="submit" class="button contrast-button" ng-click="openModalTwo()">
									Order <i class="ion-ios-arrow-right padding-left"></i> 
								</button>
						</label>
					</fieldset>
				</div>
			</form>
			<div class="item item-divider">
				Ingredients
			</div>
			<a class="item item-list-detail item-ingredients">
				<ion-scroll direction="x" scrollbar-x="false">
					<img ng-repeat="ingredient in dish.ingredients" ng-src="{{ ingredient.src }}" ng-click="showImages($index)" class="image-list-thumb">
				</ion-scroll>
			</a>
			<dish-review></dish-review>
		</div>
  </ion-content>
</ion-view>
