---
layout: default
permalink: /
title: ""
excerpt: ""
---

<div class="header-container">
	<header class="wrapper center clearfix">
		<div class="section-wrap">
			<h1>
				<span class="greeting">Hi</span><span class="comma">, </span>
				<span class="intro">I'm {{ site.data.settings.name }}.</span>
			</h1>
			<p class="subhead">
				<span class="first">{{ site.data.settings.job }}</span>
				<span class="second">{{ site.data.settings.other-job }}</span>
			</p>
		</div>
	</header>
</div>

<div class="main-container">
  <main class="main center clearfix">
		
		{% include skills.html %}
		
		
		{% include work.html %}
	
		
		{% include about.html %}


		{% include resume.html %}
		
		
		{% include notes.html %}

		
		{% include contact.html %}
		
	</main>
</div>

