<div class="footer-container">
	<footer class="wrapper center clearfix">
		
		<div class="section-wrap small-space">	
			<ul class="social-media-list">
				{% if site.twitter_username %}
				<li>
					<a href="https://twitter.com/{{ site.twitter_username}}" title="Twitter" target="_blank">
						<i class="icon social-icon icon-twitter">
							{% include icons/social-twitter.html %}
						</i>

					</a>
				</li>
				{% endif %}
				<li>
					<a href="https://www.linkedin.com/pub/carie-phon/42/75b/a53" title="LinkedIn" target="_blank">
						<i class="icon social-icon icon-linkedin">
							{% include icons/social-linkedin.html %}
						</i>
					</a>
				</li>
				{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}" title="Github" target="_blank">
						<i class="icon social-icon icon-github">
							{% include icons/social-github.html %}
						</i>

					</a>
				</li>
				{% endif %}
				<li>
					<a href="mailto:{{ site.email }}" title="Email" target="_blank">
						<i class="icon social-icon icon-email">
							{% include icons/social-email.html %}
						</i>
					</a>
				</li>
			</ul>
			<p class="copyright">© {{ site.time | date: "%Y" }} Carie Phon. All Rights Reserved. </p>
		</div>

	</footer>
</div>