<nav class="sticky-navigation">
	<div class="wrapper clearfix">
		<section class="left">
			<a class="cp-logo" href="{{ site.baseurl }}/">
				<!--{{ site.title }}-->
				{% include logo-svg.html %}
			</a>
		</section>
		<section class="right">
			<a href="#" id="js-navigation-mobile-menu" class="sticky-navigation-mobile-menu icon menu-icon menu-toggle">
				<!--<svg viewBox="0 0 30 30">
					<use xlink:href="assets/images/icon.svg#menu"></use>
				</svg>-->
				<span>
					menu
				</span>
			</a>
			<ul id="js-navigation-menu" class="sticky-navigation-menu">
				{% include navigation.html %}
			</ul>
		</section>
	</div>
</nav>