<nav class="sticky-navigation">
	<div class="wrapper clearfix">
		<section class="left">
			<a class="cp-logo" href="{{ site.baseurl }}/">
				{% include icons/logo.html %}
			</a>
		</section>
		<section class="right">
			<a href="#" id="js-navigation-mobile-menu" class="sticky-navigation-mobile-menu icon menu-icon menu-toggle">
				<span>
					menu
				</span>
			</a>
			<ul class="sticky-navigation-menu">
				{% for menu in site.data.settings.menu %}
				<li>
					<a href="{{ site.url }}{{ menu.url }}">{{ menu.name }}</a>
				</li>
				{% endfor %}
			</ul>
		</section>
	</div>
</nav>