<section class="page-section" id="resume">
	<header>
		<h1>
			<span class="section-header">Resume</span>
		</h1>
	</header>
	<div class="section-wrap small-space">
		<div class="two-thirds-col">
			<h3>EXPERIENCE</h3>
			<div class="post-listing">
				<div class="post-listing">
					<div class="post-label">
						GawkBox
						<span class="post-date">[Feb 2018 - Present]</span>
					</div>
					<div class="post-title">
						UX Developer
					</div>
					<ul>
						<li>Created and maintains reusable UI component libraries in Vue.js, React, and React Native.</li>
						<li>End-to-End Web/Mobile App development from conception to production in an Agile environment.</li>
						<li>Responsible for all UI, interaction, and web animations, from design to implementation.</li>
						<li>Collaborates daily with product owners, business, marketing/sales, and engineering.</li>
						<li>Communicates design decisions, across teams, using sketches, wireframes, mockups, and prototypes.</li>
						<li>Leads in-house/online user testing sessions and participates in user interviews.</li>
					</ul>
				</div>
				<div class="post-listing">
					<div class="post-label">
						Freelance
						<span class="post-date">[Aug 2017 - Present]</span>
					</div>
					<div class="post-title">
						UI/UX Developer
					</div>
					<ul>
						<li>Focus on interaction design, UI development, and creating web animations using CSS, JavaScript, and SVGs.</li>
						<li>End-to-End Product development - User Research, Personas, Information Architecture, Wireframes, User Testing, Visual Design, Prototyping, and Front-End Development.</li>
					</ul>
				</div>
				<div class="post-label">
					Indigo Slate 
					<span class="post-date">[Oct 2015 - Aug 2017]</span>
				</div>
				<div class="post-title">
					UI Developer
				</div>
				<ul>
					<li>
						Tested UI designs and technical feasibility of projects using prototypes coded in HTML, CSS, and JavaScript.
					</li>
					<li>
						Built responsive, cross-browser/device websites, hybrid, and single-page applications in a fast-paced environment for clients such as Amazon, Microsoft, and Alaska Airlines. Technologies/Tools included Gulp, Templating Engines (Lodash/Underscore, Nunjucks), AngularJS, Ionic2 (Angular2+ and Cordova), JIRA, and Git.
					</li>
					<li>
						High attention to detail. Served as web animation and interaction expert using CSS3, vanilla JavaScript, Greensock, ScrollMagic, and D3. 
					</li>
					<li>
						Researched, built, documented, and discussed new technologies, frameworks, and automated processes with UI team. Helped mentor interns and junior developers. 
					</li>
					<li>
						Worked closely with designers, engineers, project managers, stakeholders, and quality assurance from project kick-off to final delivery.
					</li>
				</ul>
			</div>

			<div class="post-listing">
				<div class="post-label">
					Garrigan Lyman Group 
					<span class="post-date">[Jul 2015 - Oct 2015]</span>
				</div>
				<div class="post-title">
					Front-End Developer <span class="thin-font">(Contractor)</span>
				</div>
				<ul>
					<li>
						Developed responsive pattern libraries, web pages, and micro sites for clients such as T-Mobile and Toyo Tires. Technologies included HTML5, CSS/SASS, Bootstrap, jQuery, Gulp, and Angular.js.
					</li>
					<li>
						Built and deployed code to project repositories using Eclipse/Visual Studios and SVN. 
					</li>
					<li>
						Optimized code. Performed cross-browser/device testing, debugging, and provided solutions for compatibility issues. 
					</li>
					<li>
						Participated in daily stand-up with account managers, project managers, visual/user experience designers, front-end/back-end developers, and quality assurance analysts.	
					</li>
				</ul>
			</div>
			<div class="post-listing">
				<div class="post-label">
					Alaska Airlines
					<span class="post-date">[Mar 2014 - Nov 2014]</span>
				</div>
				<div class="post-title">
					Front-End Web Developer <span class="thin-font">(Contractor)</span>
				</div>
				<ul>
					<li>
						Designed and implemented web page layouts that aligned with brand style and corporate standards.
					</li>
					<li>
						Produced reusable Sitecore templates to improve efficiency of development and increase usability of e-commerce site.
					</li>
					<li>
						Created optimized wireframes, mockups, and built out responsive prototypes/pages using HTML, CSS, XML, and jQuery.
					</li>
					<li>
						Worked closely in an Agile environment with graphic designers, user experience, user testing, quality assurance, social media strategists, product managers, and stakeholders. 
					</li>
				</ul>
			</div>
			<div class="post-listing">
				<div class="post-label">
					Cobalt Group - ADP
					<span class="post-date">[May 2013 - Feb 2014]</span>
				</div>
				<div class="post-title">
					Web Designer I
				</div>
				<ul>
					<li>Served as HTML/CSS lead for design team. </li>
					<li>Welcomed, trained, and acted as mentor to new employees and contractors.</li>
					<li>Documented work processes, created mockups, wireframes, and built responsive templates for desktop and mobile devices. </li>
					<li>Collaborated with product managers, designers, and engineers to implement design strategies and provide solutions to known creative/development issues.</li>
				</ul>
			</div>
		</div>
		<div class="one-thirds-col">
			<div class="post-group">
				<h3>EDUCATION</h3>
				<div class="post-listing">
					<div class="post-label">
						MFA Web Design and New Media
					</div>
					<div class="post-title">
						Academy of Art University</div>
					<div class="post-date">
						[May 2015]
					</div>
				</div>
				<div class="post-listing">
					<div class="post-label">
						BA Philosophy
					</div>
					<div class="post-title">
						University of Washington
					</div>
					<div class="post-date">
						[Aug 2010]
					</div>
				</div>
			</div>
			<div class="post-group">
				<h3>ADDITIONAL</h3>
				<div class="post-listing">
					<div class="post-label">
						Technologies:
					</div>
					<div class="post-title">
						HTML5, CSS/SCSS, JavaScript
					</div>
				</div>
				<div class="post-listing">
					<div class="post-label">
						Frameworks:
					</div>
					<div class="post-title">
						ReactJS, React Native, Angular+, Vue
					</div>
				</div>
				<div class="post-listing">
					<div class="post-label">
						Tools:
					</div>
					<div class="post-title">
						Adobe Creative Suite, Keynote, InVision, Android Studio, XCode
					</div>
				</div>
			</div>
		</div>
	</div>
</section>