{% if site.data.settings.skills %}
<section class="page-section" id="skills">
	<header>
		<h1>
			<span class="section-header">Skills</span>
		</h1>
	</header>
	<div class="section-wrap small-space">
		<div class="skills-wrap">
			{% for skill in site.data.settings.skills %}
				<div class="skill">
					<div class="skill-label {{ skill.name }}">
						{{ skill.name }}
					</div>
					<div class="skill-indicator skill-level-{{ skill.value }}"> 
						{% for i in (1..4) %}
							<span></span>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
	</div>
</section>
{% endif %}