//http://tympanus.net/Development/CreativeButtons/

.button {
	padding: rem(10) $space-xsmall; 
	background-color: $grey-color-light;
	color: $grey-color-dark;
	border: $cp-border;
	cursor:pointer; 
	font-size: $medium-font-size;
	font-weight: 400;
	text-decoration: none;
	display: inline-block; 
	outline: none; 
	position: relative; 
	box-shadow: 0 2px lighten($grey-color-dark,25%); 
	@include transition(none);
	&:after {
		content: '';
		position:absolute;
		z-index: -1;
		@include transition(all 0.3s);
	}
	&:hover, &:focus {
		color: #fff; 
		background-color: $grey-color;
		box-shadow: 0 1px $grey-color-dark;
		top: 1px;
	}
	&:active {
		box-shadow: 0 0 $grey-color-dark;
		top: 2px;
	}
	&:last-child {
		margin-left: rem(10); 
	}
	&.primary-button {
		color: $grey-color-dark;
		background-color: $primary-color; 
		&:hover, &:focus {
			color: #fff; 
			background-color: $primary-color-dark;
		}
	}
	&:visited {
		color: $grey-color-dark;
		border: 1px dashed $grey-color-dark; 
	}
}

.button-group {
	@include clearfix;
	text-align: center; 
	&.right {
		@include media($desktop){
			text-align: right; 
		}
	}
	@include margin(null null ($space + $space-small) null);
}