.footer-container {
	background-color: $grey-color;
}

ul.social-media-list {
	display: inline-flex;
	@extend %margin-padding-reset;
	margin-bottom: rem($space-xsmall);
	li {
		display: inline;
		display: inline-block;
		padding: 0 rem(5);
	}
	a {
		display: block;
	}
}

.social-icon {
	svg {
		&:hover, &:focus {
			@include animation(enlarge 0.35s $ease-out-circ forwards);
		}
	}
}

p.copyright {
	color: lighten($grey-color-dark,10);
	@extend %margin-padding-reset;
}