.footer-container {
	background-color: $grey-color;
}

ul.social-media-list {
	display: inline-flex;
	padding-left: 0;
	-webkit-padding-start: 0;
	li {
		display: inline;
		display: inline-block;
		padding: 0 rem(5);
	}
	a {
		display: block;
	}
}