/* MENU ICON + ANIMATION
   ========================================================================== */

$menu-height: rem(3);

// http://callmenick.com/post/animating-css-only-hamburger-menu-icons

.menu-icon {
	@include media($mobile-tablet){
		display:block;
		position: relative;
		width: rem(45);
		height: rem(45);
		/*Image Replacement*/
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		@include transition(background 0.3s);
		&:hover, &:focus {outline:none; }
		span {
			display: block;
			position: absolute;
			height: rem(9);
			border-radius: rem(9);
			top: rem($space-small);
			left: rem($space-xsmall);
			right:0;
			height: $menu-height;
			background: $grey-color-dark;
		}
	}
	display:none; 
}

.menu-icon span:before,
.menu-icon span:after {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	height: $menu-height;
	background: $grey-color-dark;
	content: "";
}

.menu-icon span:before { top: rem(-11); }
.menu-icon span:after { bottom: rem(-11); }

.menu-toggle span {
	@include transition(background 0.3s);
}

.menu-toggle span:before, .menu-toggle span:after {
	@include transition-duration(0.3s, 0.3s);
	@include transition-delay(0.3s, 0);
}

.menu-toggle span:before {
	@include transition-property(top, transform);
}

.menu-toggle span:after {
	@include transition-property(bottom, transform);
}

.menu-toggle.active span {
	background: none;
}

.menu-toggle.active span:before {
	top:0;
	@include transform(rotate(45deg));
}

.menu-toggle.active span:after {
	bottom:0;
	@include transform(rotate(-45deg));
}

.menu-toggle.active span:before, .menu-toggle.active span:after {
	@include transition-delay(0, 0.3s);
}