@import "neat/neat-helpers";

$mobile-width: rem(480);
$tablet-width: rem(768);
$desktop-width: rem(1089);
$plus-one: rem(1);

$max-width: 90%;

$mobile: new-breakpoint(max-width $mobile-width 4);
$mobile-tablet: new-breakpoint(max-width $tablet-width 4);

$tablet: new-breakpoint(min-width ($mobile-width + $plus-one) max-width $tablet-width 8);
$tablet-plus: new-breakpoint(min-width ($mobile-width + $plus-one) 8);
$desktop: new-breakpoint(min-width ($tablet-width + $plus-one));
$desktop-plus: new-breakpoint(min-width ($desktop-width + $plus-one));