.main {
	section {
		@include clearfix;
		&.page-section {
			@extend .clearfix;
			&:nth-child(2n){
				background-color: $background-color-grey;
				header {
					span {
						background-color: $background-color-grey;
					}
				}
			}
			.section-info {
				@extend %margin-padding-reset;
				padding: $space-xsmall 0;
				clear: both; 
			}
		}
		header {
			background: url(../images/line.svg) no-repeat 0 50%;
			@include fill-parent();
			h1 {
				font-size: rem(25); 
				@include media($desktop){
					font-size: rem(30); 
				}
			}
			span {
				background-color: $background-color;
				padding: 0 $space-small; 
			}
			@include media($desktop) {
				@include span-columns(10);
				@include shift(1);
			}
			@include media($desktop-plus) {
				@include span-columns(8);
				@include shift(2);
			}
		}
		.post-section-wrap {
			header {
				h1 {
					font-size: rem(35);
				}
			}
		}
	} 
}

section.page-section {
	min-height: 100vh; 
	&#contact {
		min-height: initial;
	}
}

.section-wrap {
	margin:0 auto;
	width: $max-width;
	@extend .page-section;
	@include media($desktop) {
		@include span-columns(10);
		@include shift(1);
  }
	@include media($desktop-plus) {
		@include span-columns(8);
		@include shift(2);
	}
	&.small-space {
		padding: rem($space) 0;
		@include media($mobile) {
			padding: rem($space-small) 0;
		}
	}
	&.xsmall-space {
		padding: rem($space-small) 0;
		@include media($mobile) {
			padding: rem($space-xsmall) 0;
		}
	}
	.left-col, .right-col {
		@include media($desktop) {
			@include span-columns(5 of 10);
		}
	}
}