$nav-bar-height: rem(50);
$logo-width: 1.175rem;
$timing-duration: 0.3s;
$timing-function: ease-in-out;

.sticky-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: $nav-bar-height;
	background-color: transparentize($background-color, 0.4);
	border-bottom: 2px solid transparentize($grey-color-dark, 0.05);
	z-index: 1000;
	//overflow: hidden;
	@include transition(all $timing-duration/2 $timing-function);
}

// LOGO -> SECTION = LEFT
a.cp-logo {
	position:absolute;
	width: $nav-bar-height + $logo-width;// 1.175rem;
	height: auto;
	display: block;
	outline: none;
	background-color: $grey-color-dark;
	@include transition(background-color 0.5s $timing-function);
	overflow: hidden;
	cursor: pointer;
	&:hover, &:focus {
		background-color: $primary-color;
	}
	@include media($mobile-tablet){
		left:0;
		padding: 0.5rem 1rem;
	}
	@include media($desktop){
		min-width: $nav-bar-height + $logo-width*2;// 1.175rem;
		width: 15%;
		max-width: 100px;
		padding: 0.75rem 1.25rem;
	}
}

// MOBILE MENU -> SECTION = RIGHT
.sticky-navigation-mobile-menu{

}

.sticky-navigation-menu {
	display:inline;
	display:inline-flex;
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight:300;
	list-style-type:none;
	font-family: $stylized-font-family;
	@include transition(all 0.5s $timing-function);
	
	@include media($mobile-tablet){
		display: none;
		font-size:rem(50);
		line-height:1.75;
		margin:0;
		padding:0;
	}
	@include media($desktop){
		margin:0.75rem 0;
	}
}
.open {
	@include media($mobile-tablet){
		height:100%;
		background-color: $primary-color;
		.sticky-navigation-menu {
			display:block;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			text-align: center;
		}
	}
}

ul.sticky-navigation-menu li {
	padding-right: rem(20);
		&:last-child {
			padding-right:0;
		}
	@include media($mobile-tablet){
		padding-right:0;
	}
}

ul.sticky-navigation-menu a {
	text-decoration:none; 
	@include transition(border-bottom 0.3s $timing-function);
	
	@include media($mobile-tablet){
		color:#fff;
	}
	@include media($desktop){
		color:$grey-color-dark;
	}
}

ul.sticky-navigation-menu a {
	&:hover, &:focus {
		@include media($mobile-tablet){
			border-bottom: 3px solid #fff;
		}
		@include media($desktop){
			border-bottom: 3px solid $primary-color;
		}
	}
}