/* DISPLAY GRID
   ========================================================================== */
$visual-grid: true;
$visual-grid-color: hsla(139,20%,81%,0.4);

/* GLOBAL
   ========================================================================== */
$base-font-family: 'Quicksand', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$background-color: hsl(0, 0%, 100%);  // White
$primary-color:    hsl(139,20%,81%);  // Mint

$grey-color:       hsl(31,0,60%);
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 40%);

$text-color:       $grey-color;