figure {
	@extend %margin-padding-reset;
}

.article-wrap {
	position: relative; 
	.overlay {
		color:#fff;
		background-color:transparentize($grey-color-dark,0.1); 
		width: 100%;
		height: 100%; 
		position: absolute;
		top: 0;
		left: 0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include slide-in-start();
		h2 {
			border-bottom: 1px solid #fff;
			text-transform: uppercase;
			border-bottom: 1px solid #fff;
			vertical-align: middle;
			padding-bottom: rem(5); 
			font-size: rem(30);
			font-weight: 400;
		}
		p {
			@extend %margin-padding-reset;
			padding-top: rem(10); 
		}
		i.icon {
			&.check-icon {
				display:none; 
				svg {
					fill: none; 
					stroke: #fff;
					width: rem(25);
					height: rem(25);
					display: inline; 
				}
			}
		}
	}
	a {
		text-decoration: none;
		&:hover, &:focus {
			.overlay {
				@include slide-in-end();
			}
		}
		&:visited {
			.overlay {
				i.icon {
					&.check-icon {
						display: inline;
					}
				}
			}
		}
		
	}
}

.article-tiles { 
	article {
		margin-bottom: $space-small;
		.article-wrap {
			overflow:hidden;
			figure {
				background-color: #e8e8e8; 
			}
			img {
				width:100%; 
			}
		}
		
		&.medium-tile {
			@include media($tablet-plus) {
				@include span-columns(4 of 8);
			}
		}
		&.small-tile {
			.article-wrap {
				img {
					@include media($desktop) {
						width: auto;
						height: rem(200);
					}
				}
			}
			@include media($tablet) {
				@include span-columns(4 of 8);
			}
			@include media($desktop) {
				@include span-columns(3 of 10);
			}
		}
		&.tile4 {
			@include media($tablet) {
				@include omega();
			}
			&.small-tile {
				@include media($desktop) {
					@include span-columns(4 of 10);
				}
			}
		}
		&.tile2 { @include omega(); }
		&.tile {
			border: $cp-border-2;
			background-color: $background-color-grey;
		}
	}
}

.small-tile {
	.overlay {
		h2 {
			font-size: $space-small;
		}
	}
}

.project-details {
	@extend %transition;
	float:left; 
	display: none;
	@include fill-parent;
}

.project-list {
	clear: both; 
}
	
