.code__container {
  padding: 1% $space-xsmall; 
  background: $background-color-grey;
  color: #24292e;
  margin: $space-small 0; 

  @include media($desktop-plus) {
	padding: 1% $space-small; 
  }

  pre {
	font-size: 90%;
  }
	  
  	.tag {
		color: #22863a; 
	}

  	.key {
		color: #d73a49;
	}

	.string {
		color: #032f62; 
	}

	.type {
		color: #005cc5; 
	}

	.function {
		color: #6f42c1; 
	}

	.comment {
		color: #6a737d; 
	}
}

figure {
	@extend %margin-padding-reset;
}

.article-wrap {
	position: relative;
	.overlay {
		color:#fff;
		background-color:transparentize($grey-color-dark,0.1);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include slide-in-start();
		h2 {
			border-bottom: 1px solid #fff;
			text-transform: uppercase;
			border-bottom: 1px solid #fff;
			vertical-align: middle;
			padding-bottom: rem(5);
			font-size: rem(30);
			font-weight: 400;
		}
		p {
			@extend %margin-padding-reset;
			padding-top: rem(10);
		}
		i.icon {
			&.check-icon {
				display:none;
				svg {
					fill: none;
					stroke: #fff;
					width: rem(25);
					height: rem(25);
					display: inline;
				}
			}
		}
	}
	a {
		text-decoration: none;
		&:hover, &:focus {
			.overlay {
				@include slide-in-end();
			}
		}
		&:visited {
			.overlay {
				i.icon {
					&.check-icon {
						display: inline;
					}
				}
			}
		}

	}
}

.article-tiles {
	article {
		margin-bottom: $space-small;
		.article-wrap {
			overflow:hidden;
			figure {
				background-color: #e8e8e8;
			}
			img {
				width:100%;
			}
		}

		&.medium-tile {
			@include media($tablet-plus) {
				@include span-columns(4 of 8);
			}
		}
		&.small-tile {
			.article-wrap {
				img {
					@include media($desktop) {
						width: auto;
						height: rem(216);
					}
				}
			}
			@include media($tablet) {
				@include span-columns(4 of 8);
			}
			@include media($desktop) {
				@include span-columns(3 of 10);
			}
		}
		&.tile4 {
			@include omega();

			&.small-tile {
				@include media($desktop) {
					@include span-columns(4 of 10);
				}
			}
		}
		&.tile5 {
			@include media($desktop) {
				@include omega();
			}
		}
		&.tile2 { @include omega(); }
		&.tile6 {
			@include media($tablet) {
				@include omega();
			}
		}
		&.tile7 {
			&.small-tile {
				@include media($desktop) {
					@include span-columns(4 of 10);
				}
			}
		}
		&.tile {
			border: $cp-border-2;
			background-color: $background-color-grey;
		}
	}
}

.small-tile {
	.overlay {
		h2 {
			font-size: $space-small;
		}
	}
}

.project-details {
	@extend %transition;
	float:left;
	display: none;
	@include fill-parent;
}

.project-list {
	clear: both;
}
