---
layout: demo
---

<div class="header-container post">
	<header class="wrapper center clearfix">
		<h1>
			<span class="section-header">{{ page.title }}</span>
		</h1>
		<p class="subhead"><span>{{ page.description }}</span></p>
	</header>
</div>

<div class="main-container">
  <main class="main center clearfix">
		<section class="post-section" id="post-section">
				<div class="section-wrap small-space" id="post-details">
					<div class="featured-image">
						<div class="image-container">
							{% if page.video %}
							<iframe src="{{page.video}}" width="800" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen title="{{ page.title }} Video"></iframe>
							{% elsif page.image.full %}
								<img src="/assets/images/work/{{page.folder}}/full-image.jpg" srcset="/assets/images/work/{{page.folder}}/full-image.jpg, /assets/images/work/{{page.folder}}/full-image@2x.jpg" alt="{{ page.title }}" />
							{% endif %}
						</div>
						{% if page.launch %}
						<div class="button-group right">
							<a href="{{ page.launch.url }}" class="button primary-button desktop" target="_blank">
								{{ page.launch.title }}
							</a>
							{% endif %}
							{% if page.mobile %}
							<a href="{{ page.mobile.url }}" class="button primary-button mobile" target="_blank">
								{{ page.mobile.title }}
							</a>
							{% endif %}
							{% if page.github %}
							<a href="{{ page.github.url }}" class="button" target="_blank">
								{{ page.github.title }}
							</a>
						</div>
						{% endif %}
					</div>
					<div class="post-content">
						<div class="two-col-main">
							{{ content }}
						</div>
						<div class="two-col-secondary">
							<div class="post-group">
								<h2>{{ page.info.title }}</h2>
								<div class="post-listing">
									<div class="post-label">
										{{ page.info.group.title }}
									</div>
									<div class="post-title">
										{{ page.info.group.description }}
									</div>
								</div>
								<div class="post-listing">
									<div class="post-label">
										{{ page.info.group2.title }}
									</div>
									<div class="post-title">
										{{ page.info.group2.description }}
									</div>
								</div>
								<div class="post-listing">
									<div class="post-label">
										{{ page.info.group3.title }}
									</div>
									<div class="post-title">
										{{ page.info.group3.description }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		
		{% include work.html %}
	</main>
</div>

