---
layout: demo
---

<div class="demo-container">
	<div class="header-container post">
		<header class="wrapper center clearfix">
			<h1>Demo</h1>
			<p class="subhead">{{ page.description }}</p>
		</header>
	</div>

	<div class="main-container">
		<main class="main center clearfix">
			<section class="post-section" id="{{ page.folder }}-demo">
				<div class="xsmall-space center">
					<div class="ipad-device">
						{% include icons/ipad-demo.html %}
						<iframe class="device-container" src="{{ page.project }}"></iframe>
					</div>
					
					{% if page.details %}
					<div class="button-group right">
						<a href="{{ page.details.url }}" class="button primary-button">
							{{ page.details.title }}
						</a>
						{% endif %}
						{% if page.github %}
						<a href="{{ page.github.url }}" class="button" target="_blank">
							{{ page.github.title }}
						</a>
					</div>
					{% endif %}
				</div>
			</section>
		</main>
	</div>

</div>

{% include modal.html %}

